<section id="reserve" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>ICS Manifesto</h2>
              <br/>
                <p> Traditional culinary education is expensive, bloated and focused on
                profit not outcomes. Industry Kitchen is an immersive bootcamp that
                will make you job ready at an affordable price. </p>
              </div>
        </div>
    </section>
